/* Contains the base styles for the application */

/* .human-message {
} */

.markdown-message {
    padding: 10px;
    border-radius: 10px;
}

.monospace-content {
    font-family: "Ubuntu Mono", monospace;
}